@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

:root{
    --primarycolor:#464444;
    --maintext : #f48022;
    --secondarytext : #000;
    --btnhover : #545454;
}
.tema-escuro{
    --primarycolor:#b40a0a;
    --maintext : #FD1AFD;
    --secondarytext : #fff;
    --btnhover : #f008e0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'poppins';
    background-color: var(#120124);
}

.home{
    height: 100vh;
    width: 100%;
    padding: 20px 140px;
}

/* header section  */
header{
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.logo{
    width: 300px;
    
}
.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.nav li {
    list-style-type: none;
}

.nav li a{
    text-decoration: none;
    color: var(--secondarytext);
    font-size: 1.2rem;
    font-weight: bold;
}
.nav li a:hover{
    color: var(--maintext);
}
.header-nav .nav  li a.active{
    color: var(--maintext);
}
.btn{
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    
    background-color: var(--maintext);
    font-weight: bold;
}
.btn:hover{
    background-color: var(--btnhover);
}
.header-nav {
    width: 45%;
}
.header-btn{
    display: inline-flex;
}



.listaicones{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.listaicones li{
    margin: 15px 0;
}
.listaicones li a{
    font-size: 2rem;
    color: var(--maintext);

}
.eu{
    height: 85vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.eu .conteudo{
    width: 40%;

}

.eu .conteudo .content-text{
    font-size: 2rem;
    color: var(--secondarytext);

}
.eu .conteudo .content-text span{
    color: var(--maintext);
}
.eu .conteudo .botaocontato button{
    font-size: 1.5rem;
    margin-top: 20px;
}

.eu .imagemvictor{
    width: 40%;
}


.imagemvictor img{
    height: 70vh;
}
    

@media (max-width:768px) {
    .home{
        padding: 10px 10px ;
    }
    .header-nav{
        display: none;
    }
    .eu{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: wrap;

    }
    .eu .conteudot{
        margin: 0;
        height: 100vh;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

    .eu .conteudo .content-text{
        font-size: 1.2rem;
    }

    .eu .hero-image{
        width: 100%;
    }
    .eu .imagemvictor img{
        width: 100%;
        position: static;
    }

    .social-icon-list li{
        margin: 0 10px  ;
    }
    .home {
      padding: 10px;
    }
    .header-nav {
      display: none;
    }
    
    
    
    .nav {
      position: absolute;
      top: 10vh;
      left: 0;
      width: 100%;
      height: calc(100vh - 10vh);
      background-color: var(--primarycolor);
      z-index: 1;
      transform: translateX(-100%);
      transition: transform 0.3s ease-in-out;
    }
    
    .nav.show {
      transform: translateX(0);
    }
    
    .nav li {
      display: block;
      text-align: center;
      margin: 20px 0;
    }
    
    .nav li a {
      font-size: 1.5rem;
    }
    
   
    .eu {
        flex-direction: column;
    }
      
    .eu .conteudo {
        width: 100%;
        height: auto;
    }
      
    .eu .conteudo .content-text {
        font-size: 1.2rem;
    }
      
    .eu .imagemvictor {
        width: 100%;
        margin-top: 20px;
    }
      
    .eu .imagemvictor img {
        width: 100%;
    }
    .social-icon-list li {
        margin: 5px;
    }
    
}
  